[submodule "Grapple/vendor/GLFW"]
	path = Grapple/vendor/GLFW
	url = git@github.com:Anton3311/glfw.git
[submodule "Grapple/vendor/glm"]
	path = Grapple/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Grapple/vendor/spdlog"]
	path = Grapple/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Grapple/vendor/ImGUI"]
	path = Grapple/vendor/ImGUI
	url = git@github.com:Anton3311/imgui.git
[submodule "Grapple/vendor/yaml-cpp"]
	path = Grapple/vendor/yaml-cpp
	url = git@github.com:Anton3311/yaml-cpp.git
[submodule "Grapple/vendor/ImGuizmo"]
	path = Grapple/vendor/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "Grapple/vendor/msdf/msdf-atlas-gen"]
	path = Grapple/vendor/msdf/msdf-atlas-gen
	url = git@github.com:Chlumsky/msdf-atlas-gen.git
[submodule "Grapple/vendor/msdf/freetype/"]
	path = Grapple/vendor/msdf/freetype
	url = git@github.com:freetype/freetype.git
[submodule "Grapple/vendor/assimp/assimp"]
	path = Grapple/vendor/assimp/assimp
	url = git@github.com:assimp/assimp.git
