[submodule ".\\Grapple\\vendor\\GLFW"]
	path = .\\Grapple\\vendor\\GLFW
	url = https://github.com/glfw/glfw
[submodule ".\\Grapple\\vendor\\glm"]
	path = .\\Grapple\\vendor\\glm
	url = https://github.com/g-truc/glm
[submodule ".\\Grapple\\vendor\\spdlog"]
	path = .\\Grapple\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule ".\\Grapple\\vendor\\ImGUI"]
	path = .\\Grapple\\vendor\\ImGUI
	url = git@github.com/ocornut/imgui.git
[submodule "Grapple/vendor/yaml-cpp"]
	path = Grapple/vendor/yaml-cpp
	url = git@github.com/jbeder/yaml-cpp.git
[submodule "Grapple/vendor/ImGuizmo"]
	path = Grapple/vendor/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule ".\\Grapple\\vendor\\msdf/msdf-atlas-gen"]
	path = .\\Grapple\\vendor\\msdf/msdf-atlas-gen
	url = git@github.com:Chlumsky/msdf-atlas-gen.git
[submodule ".\\Grapple\\vendor\\msdf\\freetype\\"]
	path = .\\Grapple\\vendor\\msdf\\freetype\\
	url = git@github.com:freetype/freetype.git
